[submodule "PubSubClient"]
	path = PubSubClient
	url = https://github.com/knolleary/pubsubclient.git

[submodule "StringSplitter"]
	path = StringSplitter
	url = https://github.com/aharshac/StringSplitter.git
[submodule "UartTar"]
	path = UartTar
	url = https://github.com/hjc2000/UartTar.git
[submodule "Delegate"]
	path = Delegate
	url = https://github.com/hjc2000/Delegate.git
[submodule "queue"]
	path = queue
	url = https://github.com/sdesalas/Arduino-Queue.h.git
